VERSION=
NETWORK= # conformance | pilot

KEY_ALG= # ES256 | ES256K
PRIVATE_KEY=
DID_METHOD= # key | ebsi
EBSI_SUBJECT_ID=

SERVER_URL=

# Authorization server
AUTHORIZATION_SERVER_URL=
AUTHORIZATION_SERVER_PUBLIC_KEY=
AUTHORIZATION_SERVER_KEY_ALG= # ES256 | ES256K
