# Required
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

API_KEY= # API Key for accessing the protected endpoints on the issuer
RESEND_API_KEY= # API Key for sending emails

# Optional
NEXT_PUBLIC_ISSUER_ENDPOINT=
