# Required
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

NEXTAUTH_SECRET=
NEXTAUTH_URL=

API_KEY= # API Key for accessing the protected endpoints on the issuer

# Optional
NEXT_PUBLIC_BASE_PATH= # Base path for the dashboard, e.g. /eductx
NEXT_PUBLIC_ISSUER_ENDPOINT
