# Azure AD configuration
AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=

# Next Auth configuration
NEXTAUTH_SECRET=
NEXTAUTH_URL= # <domain>/api/auth

# Internal API configuration
API_KEY= # API Key for accessing the protected endpoints on the issuer
BFF_API_KEY= # API Key for accessing the protected endpoints in API routes
NEXT_PUBLIC_ISSUER_ENDPOINT=
NEXT_PUBLIC_APP_URL= # The base URL (domain) where the app is hosted

# Email SMTP information
EMAIL_HOST=
EMAIL_USERNAME=
EMAIL_PASSWORD=

# Uploadthing
UPLOADTHING_TOKEN=

# Backend API configuration
NEXT_PUBLIC_BACKEND_API_URL=
